@charset "utf-8"; // 全局颜色设置
$font-color-1: #000000;
$font-color-2: #ffffff;
$primary-color: #93dad6;
$warn-color: #ff8624;
$error-color: #FB656E;
$border-color-1: #666;
$border-color-2: #999;
$disabled-color: rgba(0, 0, 0, 0.298039); 
$tip-color: #e9e9e9;
$grid-num: 6;// 栅栏格支持数
$bar-num:5 //全局loading竖线个数
